COLOURS:
dark: #373223E
mid:  #BFBDC1
light: #6D6A75
comp-light: #DEB841
comp-dark: #DE9E36



body {
    background-color: black;
    color: yellow;
    font-family:  helvetica;
    font-weight:  bold;
    font-style:   italic;
    line-height:  1.5;
    text-align:   justify;
    text-transform: uppercase;
}   



.highlight {
text-transform: uppercase;
background-color: yellow
}


header {
    font-family: 'Dm Serif Display', serif;
    font-size: 5
    font-style: bold;
    max-width:  10; 
}







